{% extends "home/base.html" %}
{%load crispy_forms_tags %}
{%block content%}
<div class="container p-3 border">
  <h1>About Soymate</h1>
  <hr>
  <p>This project was made by me (David Ngo). I learned Django through following a few tutorials and applied the concepts I learned into making this website. Soymate is just a passion project that aims to connect people together and let them share their favorite recipes. I'll revisit this project in the near future when I learn more to add in a social media functionality. </p>
  <p>If you want to reach out and work with me, please contact <a href = "mailto: dngo2@uw.edu"> dngo2@uw.edu</a> </p>
</div>

{%endblock content %}
