{% extends "home/base.html" %}
{% load my_tags %}
{%block content%}
<div class="col-md-12">
        
        <div class = "container">
            <h1> My Feed</h1>
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group" role="group" aria-label="First group">
                <a class="btn btn-secondary dropdown-toggle mt-2 mb-4" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sort By
                </a>      
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="?orderby=date_posted">Oldest</a>
                <a class="dropdown-item" href="?orderby=-date_posted">Newest</a>
                <a class="dropdown-item" href="?orderby=title">Title Name</a>
                <a class="dropdown-item" href="?orderby=-author">Author Name</a>
              </div>
            </div>
            <div class="input-group mb-4 mr-5">
              <form method = 'GET' action = ''>
                <input type = 'text' name= 'filter' placeholder= 'Search'>
 
              </form>
            </div>
          </div>

            <div class="row">
              {% for post in posts %}

                <div class="col-sm mb-4">                    
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top image-thumbail" src= "{{post.image.url}}" height=100px width=20px>
                        <div class="card-body text-center ">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text" > <img class = "rounded-circle" src = "{{post.author.profile.image.url}}" width ="20" height= "20" >  <a href="{% url 'user-posts' post.author.username %}" style="color:black"> {{post.author}}</a></p>
                        <a href="{% url 'post-list' post.id %}" class="btn btn-dark" >View Recipe</a>
                    </div>                  
               </div>
          
            </div>
            {% empty %}
            <h1>You are following no one</h1>    
            {% endfor %}
            
            </div>
            
          </div>

          
          <div class = "mx-3 mt-4" >
          {% if is_paginated %}

          {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?{% param_replace page=1 %}">First</a>
            <a class="btn btn-outline-info mb-4" href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
          {% endif %}
    
    
          {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?{% param_replace page=page_obj.paginator.num_pages %}">Last</a>
          {% endif %}
    
        {% endif %}
      </div>
    </div>      
{%endblock content %}
