{% extends "home/base.html" %}
{% load my_tags %}
{%block content%}
<div class="col-md-8">
        <div class = "container">
          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle mb-3" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort By
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="?orderby=date_posted">Oldest</a>
              <a class="dropdown-item" href="?orderby=-date_posted">Newest</a>
              <a class="dropdown-item" href="?orderby=date_posted">Title Name</a>
              <a class="dropdown-item" href="#">Author Name</a>
            </div>
          </div>
            <div class="row">
                {% for post in posts %}
                <div class="col-sm mb-4">                    
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top image-thumbail" src= "{{post.image.url}}">
                        <div class="card-body text-center ">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text" > <img class = "rounded-circle" src = "{{post.author.profile.image.url}}" width ="20" height= "20" >  <a href="{% url 'user-posts' post.author.username %}" style="color:black"> {{post.author}}</a></p>
                        <a href="{% url 'post-list' post.id %}" class="btn btn-dark" >View Recipe</a>
                    </div>                  
               </div>               
            </div>
            {% endfor %}
            
            </div>
            
          </div>

          
          <div class = "mx-3 mt-4" >
          {% if is_paginated %}

          {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?{% param_replace page=1 %}">First</a>
            <a class="btn btn-outline-info mb-4" href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
          {% endif %}
    
    
          {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?{% param_replace page=page_obj.paginator.num_pages %}">Last</a>
          {% endif %}
    
        {% endif %}
      </div>
    </div>      
{%endblock content %}
{%block content2%}

<div class="col-md-4">
  <div class="content-section">

      <ul class="list-group">
        <h3>More features to come</h3>
        {% for category in categories %}
        <li class="list-group-item list-group-item-light">
          <a href ="{% url 'soymate-home' %}?category={{category.name}}" style="color:black">{{category.name}}</a>
        </li>
        {%endfor%}
      </ul>
    </p>
  </div>
</div>
{%endblock content2 %}